@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,600&family=Press+Start+2P&display=swap');

body {
  background-image: url(https://abrakadabra.fun/uploads/posts/2022-01/1642932156_6-abrakadabra-fun-p-staraya-morskaya-karta-10.jpg);
  background-size: cover;
  margin: 0;
  font-family: 'Cormorant Infant', serif;
  text-align: center;
 
}


h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

h4 {
  font-family: 'Righteous', cursive;

  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}
p{
  font-style: bold;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;

}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: mediumseagreen;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
  font-family: 'Cormorant Infant', serif;
}


